@{
    Layout = null;
}
<div style="height:150px;">
    <div class="modal-header" id="failModalHeader">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Error</h4>
    </div>
    <div class="modal-body" id="failModalBody">
        <p>Your account could not be created. Please check the information and try again.</p>
        <button class="btn btn-danger pull-right" type="button" data-dismiss="modal">CLOSE</button>
    </div>
</div>


