@{
    Layout = null;
}
<div style="height:150px;">
    <div class="modal-header" id="successModalHeader">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Login Successful</h4>
    </div>
    <div class="modal-body" id="successModalBody">
        <p>You are now logged in. Please remember to log out on your way out.</p>
        <button class="btn btn-danger pull-right" type="button" data-dismiss="modal">CLOSE</button>
    </div>
</div>